body{
    background-color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10%;
}
.sectionstyle{
    float: right;
    margin-left: 2px;
}
.img{
    float: left;
    width: 100px;
    height: 150px;
    margin-right: 4px;
}
.foot{
    float: inline-ends;
}